body {
    font-weight: 600;
}

.header {
    background-color: #000000;
}

.header_inner {
    display: flex;
    height: 70px;
    /*ヘッダーの高さ*/
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
}

.header__nav {
    width: 400px;
    /*ヘッダー内navの幅*/
    height: 100%;
    font-size: 18px;
    /*ヘッダー内navのフォントサイズ*/
    display: flex;
    justify-content: flex-end;
    /*右寄せ*/
    align-items: center;
    text-decoration: none;
}

.header__link {
    margin-right: 30px;
    /* リンクの間隔 */
    text-decoration: none;
    color: #ffffff;
}

.header__button {
    width: 75px;
    height: 55%;
    /*出品ボタンの高さ*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #ffffff;
    color: #000000;
}

.header__logout-button {
    /*ログアウトbutton*/
    font-weight: 600;
    width: 120px;
    font-size: 18px;
    border: none;
    margin-right: 20px;
    background-color: #000000;
    color: #ffffff;
}

/* フラッシュ―メッセージ「メールアドレスが認証されました」 */
.alert-success {
    color: green;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    /*タイトル【商品の出品】*/

}

.form {
    /*フォーム全体の大きさ*/
    width: 35%;
}

/*■ 商品画像*/
.btn-crop,
.btn-edit {
    /*「画像を選択する」ボタン*/
    display: inline-flex;
    padding: 10px 18px;
    /*タテ ヨコ*/
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #FF5555;
    border: 2px solid #FF5555;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
}

.btn-crop:hover,
.btn-edit:hover {
    color: #f04747;
    border: 2px solid #f04747;
    background-color: #f3eaea;
}


.profile-image-cropping {
    /*AとBを囲む<div>*/
    border: 3px solid #00ff40;
}

.profile-image-preview-wrapper {
    /*A）画像編集領域*/
    border: 3px solid #ffc800;
}

.profile-image-action {
    /*B）「画像を選択する」を囲む<div>*/
    display: flex;
    align-items: center;
    border: 3px solid #0011ff;
}

.profile-image-result {
    display: flex;
    border: 7px solid #ff0000;
    box-shadow: 6px 6px 8px rgba(66, 30, 30, 0.2); /*水平 垂直 半径*/
}

.profile-image-result-wrapper {
    border: 3px dashed #00c303;
}

.profile-image-result-preview {  /*プロフィール画像の〇●*/
}


/*■ 小見出しコンテナ*/
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    ;
}

/*■ 小見出し*/
.form-input {
    font-size: 16px;
    padding: 10px;
    margin-top: 4px;
    border-radius: 3px;
    border: 1px solid #5F5F5F;
}



/*■ 「出品する」ボタン*/
.form-button {
    color: white;
    background-color: #FF5655;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    margin-top: 60px;
    margin-bottom: 150px;
    cursor: pointer;
}

/* バリデーションメッセージ*/
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

/* ■ タブレット（768-850px）向けのスタイル */
@media screen and (max-width: 850px) {

    /*ヘッダーの設定*/
    .header {
        background-color: #000000;
    }

    .header_inner {
        display: flex;
        /*横並びに配置*/
        /* flex-wrap: wrap;  アイテムを折り返す */
        justify-content: space-between;
        height: auto;
        padding: 10px 15px 2px 15px;
        /*上 右 下 左*/
        margin: 0;
    }

    .header__logo {
        width: 100%;
        margin: 5px 0 10px 0;
        /*上 右 下 左*/
    }

    .header__nav {
        display: flex;
        font-size: 16px;
        height: 50px;
        width: 100%;
    }

    /*ログアウトボタン*/
    .header__logout-button {
        font-size: 16px;
        margin-right: 10px;
    }

    .header__link {
        margin-right: 30px;
        /* リンクの間隔 */
    }

    .form {
        /*フォーム全体の大きさ*/
        width: 65%;
    }
}