body {
    font-weight: 600;
}

.header {
    background-color: #000000;
}

.header__logo {
    display: block;
    /* インラインからブロック要素に変更 */
    padding: 15px;
}

/* タブレット（768-850px）向けのスタイル */
@media screen and (max-width: 850px) {

}